.card-container{
    display: flex;
    flex-direction: column;
    border:1px solid #e2e2e2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);;
    max-width:300px;
    margin:10px;
    width:100%;
    transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1), background-color 0.5s ease;
}
.card-container:hover{
    transform:scale(1.2);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.card-image{
    max-width: 300px;
}