.Logo{
    height:100px;
    width:100px;
}

.Header-container{
    display:flex;
    position:fixed;
    background-color: rgb(226, 223, 223);
    justify-content: center;
    align-items: center;
    z-index:1;
    box-shadow: 5px 5px 5px rgb(47, 47, 47);
}
.link{
    text-decoration: none;
    color:black;
    padding:10px;
}

.insta-container{
    display: flex;
   align-items: center;
    text-decoration: none;
    color:black;
    position:relative;
    left:350px;
    
}
.insta-container > p{
    font-family: cursive;
}
@media (max-width:1260px){
.insta-container{
    position: relative;
    left:200px;
}
}
@media (max-width:980px){
    .insta-container{
        position: relative;
        left:150px;
    }
   
}

@media (max-width:870px){
    .insta-container{
        position: relative;
        left:100px;
    }
   
}


@media (max-width:600px){
    .Header-container{
        display: flex;
        flex-direction:column ;
        height:100vh;
        scroll-behavior: none;
        max-height: 320px;
        position: absolute;
        top:0;
    }
    .insta-container{
        left:0;
    }
}