
/* Hero.css */
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image:linear-gradient(to bottom left,rgba(10,138,161,.9) 23%,transparent 76%), url("https://res.cloudinary.com/simpleview/image/upload/v1646762440/clients/virginia/HR20042403V_006_06906a3b-b2bd-482f-9832-c3ad5d26222f.jpg");
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 600px;
    position: relative; /* Adding relative positioning for h2 alignment */
  }
  .home-intro {
    position: absolute;
   top:80px;
    font-size: 2.5rem; /* Adjust font size */
    text-align: center;
    margin-top: 40px; /* Adjust top margin for positioning */
    color: #fff; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow for contrast */
    text-decoration: underline;
  }
  .hero-logo{
    width:85px;
    height:95px;
    border-radius: 50%;
  }
  .h2-container {
    
    position: absolute;
    bottom: 0;
    right:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adjust the bottom margin for spacing */
    color: #fff; /* Text color */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8)
  }
  
  
  .hero > h2 {
    background-color: white;
    margin-bottom: 10px; /* Add some space between stacked h2 elements */
    padding: 10px; /* Adjust padding for better appearance */
    box-shadow: 0px 5px 5px 2px rgb(47, 47, 47);
    text-align: center; /* Center align the text */
    max-width: 80%; /* Limit the width of h2 elements */
    
  }
  
  @media (max-width:600px){
    .home-container{
       margin-top: 3px;
    }
    .concert-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .concert-image{
        display: none;

    }
    .seashore-container{
        display: flex;
        flex-direction: column;
    }
    .text-container {
        min-width: 250px;
        width:500px;
        
    }
  }

 /* about section */
 .about {
    border: 1px solid rgb(219, 211, 211);
    background-color: rgb(227, 221, 221);
    border-radius: 5px;
    box-shadow: 0px 5px 5px 2px rgb(47, 47, 47);
    padding: 20px; /* Add padding for better spacing */
  }
  
  .about-content {
    display: flex;
    flex-direction: row; /* Align content horizontally */
  }
  
  .about-text {
    flex: 1; /* Allow the text to take up available space */
  }
  
  .about-text > h1 {
    /* Style the heading as needed */
    font-size: 35px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  .about-text > p {
    /* Adjust styles for the paragraph */
    font-size: 25px;
  }

  @media (max-width:640px){
    .about-text >p {
      font-size: 10px;
    }
    .text-container > p{
      font-size: 2px;
    }
    .hero{
      position: relative;
      
    }
    .hero-logo{
      width:50px;
      height:50px;
    }
    .h2-container{
      font-size: xx-small;
    }
  }
  
  .about-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    margin-left: 50px; /* Add spacing between text and image */
    border-radius: 5px; /* Optional: Add border-radius to the image */
    width:500px;
    height:-webkit-fill-available;
  }


  

/* Seashore */

.seashore-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
    width:100%;
    background-image: linear-gradient(rgba(0, 128, 128, 0.5), rgba(128, 0, 128, 0.5)),url("https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_600,q_50,w_1400/v1/clients/virginiabeachva/144_3_2283_jpeg_2af5fb02-5a69-4104-8670-15a4bbfaee3d.jpg");
    border-radius: 8px;
    border: 1px solid darkblue;
    padding: 30px 30px;
    color: rgb(249, 236, 236);
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    padding-right: 20px;
  }
  
  .text-container > p {
    font-size: 40px;
    max-width: 100%;
  }
  .text-container >h1{
    font-size: 50px;
    text-decoration: underline;
  }
  
  .seashore-photo {
    width: 50%;
    border-radius: 8px;
    border: 1px solid darkblue;
  }


/* Fitness */

.fitness-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(rgba(0, 128, 128, 0.5), rgba(0, 128, 128, 0.5)), url('https://d1k8hez1mxkuxw.cloudfront.net/external_data/505873/958087.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  
    /* Adjust font styles for better visibility */
    text-align: center; /* Center the text */
    padding: 20px; /* Add padding for readability */
    font-family: Arial, sans-serif; /* Use a commonly available font */
    font-size: 24px; /* Adjust font size as needed */
  }

  /* concerts */

  .concert-container{
    display:flex;
    padding:100px;
    background-image:linear-gradient(rgba(115, 115, 115, 0.5), rgba(142, 142, 142, 0.5)), url("https://beacheventsvb.com/wp-content/uploads/2021/03/web_header_new_laborday-copy.jpg");
  }
  .concert-image{
    padding:20px;
    width:600px;
    height:300px;
  }
  .concert-words {
    background-color: rgba(181, 219, 219, 0.5); /* Aqua color with 50% transparency */
    color: rgb(38, 25, 25);
    border-radius: 6px;
}

  .concert-words >p{
    font-size: 28px;

  }